body {
    background-color: #D6D5A8; ;
  }
  
  hr {
    border-color: #816797;
    border-style: none;
    border-top-style: dotted ; 
    width: 5%;
    border-width: 5px;
  }

  h3 {
    color: #1B2430;
  }

  h1 {
    color: #1B2430 ;
  }